*{
	padding: 0;
	margin: 0;
	font-family: 'Manrope', sans-serif;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
#hero{
	height: 100vh;
	width: 100%;
	background-image: url(../img/back.webp);
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
}
span{
	color: #000428;
}
#content{
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}
h1{
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
}
h3{
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
}
h4{
	color: #000428;
	letter-spacing: 2px;
	font-size: 20px;
}
.newslatter form{
	width: 380px;
	max-width: 100%;
	position: relative;
}
.newslatter form input:first-child{
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid #005AA7;
	outline: none;
	border-radius: 30px;
}
.newslatter form input:last-child{
	position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color:#005AA7;
	color: white;
	box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 6px; 
}

#about{
	width: 100%;
	padding: 100px 0px;
	background:linear-gradient(to right,#000428,#004E92);
	flex-direction: column;
	display: flex;
}
#about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
}
.about-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	text-align: center;
	margin-bottom: 20px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
	text-align: center;
}
.about-text p{
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
	display: flex;
	text-align: center;
	position: relative;
}
button{
	background-color:#005AA7;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s;
}
button:hover{
	background-color: transparent;
	border: 2px solid #005AA7;
	cursor: pointer;
}

#service{
	background:linear-gradient(to right,#004E92,#000428);
	width: 100%;
	padding: 100px 0px;
}
.title h2{
	color: white;
	font-size: 75px;
	width: 1130px;
	display: flex;
	flex-direction: column;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
	flex-direction: row;
}
.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background:linear-gradient(to right,#2980B9,#6DD5FA);
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: blue;

}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: #fcfc;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.card .button{
	background-color:#005AA7;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid #005AA7;
	cursor: pointer;
}
#contact-me{
	width: 100%;
	height: 290px;
	background:linear-gradient(to right,#000428,#004E92);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
#contact-me p{
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
	text-align: center;
}
#contact-me .button-two{
	background-color:#005AA7;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
#contact-me .button-two:hover{
	background-color: transparent;
	border: 2px solid #005AA7;
	cursor: pointer;
}
footer{
	position: relative;
	width: 100%;
	height: 400px;
	background:linear-gradient(to right,#004E92,#000428);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  blue;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color:#000;
	bottom: 35px;
	font-size: 14px; 
}
header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header .logo{
    position: relative;
    color: #000;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
  }
  
  header .navigation a{
    color: #fff;
    background-color: #005AA7;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
  }
  
  header .navigation a:not(:last-child){
    margin-right: 30px;
  }
  
  header .navigation a:hover{
    background: transparent;
	border: 2px solid #005AA7;
    color: #fff;
  }
  label{
    display: none;
  }
  #check{
    z-index: 3;
    display: none;
  }
@media (max-width:960px){
	.about{
		display: flex;
		flex-direction: row;
		width: 100%
	}
	.box{
		display: flex;
		flex-direction: column;
	}
	.title h2{
		margin:0 90px;
		width: 0;
		display: flex;
		flex-direction: row;
	}
	.main{
		position: relative;
		flex-direction: column;
	}
	.about-text h2,.about-text h5,.about-text p{
		width: 100%;
	}
	.about-text{
		width: 400px;
		margin-right: 0;
	}
	button{
		margin-left: 140px;
	}
	label{
		display: block;
		font-size: 25px;
		cursor: pointer;
		transition: 0.3s;
		transition-property: color;
	  }
	
	  label:hover{
		color: #fff;
	  }
	
	  label .close-btn{
		display: none;
	  }
	
	  #check:checked ~ header .navigation{
		z-index: 2;
		position: fixed;
		transition: 0.3s;
		background: rgba(114, 223, 255, 0.9);
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	  }
	
	  #check:checked ~ header .navigation a{
		font-weight: 700;
		margin-right: 0;
		margin-bottom: 50px;
		letter-spacing: 2px;
	  }
	
	  #check:checked ~ header label .menu-btn{
		display: none;
	  }
	
	  #check:checked ~ header label .close-btn{
		z-index: 2;
		display: block;
		position: fixed;
	  }
	
	  label .menu-btn{
		position: absolute;
	  }
	  header .navigation{
		display: none;
	  }
	  .logo{
		margin-top: 25px;
	  }
}